@media screen and (min-width: 0px) and (max-width: 500px) {
    body {
    background-color: yellow;
    font-size: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:black;
    text-align: center;
         }
    }

@media screen and (min-width: 501px) and (max-width: 1000px) {
   body {
    background: pink;
    font-size: 200%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:gray;
    text-align: center;
         }
    }

@media screen and (min-width: 1001px) and (max-width: 1400px) {
   body {
    background: #f08181;
    font-size: 300%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:white;
    text-align: center;
         }
    }